@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pixel-art {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
}
